.category {
    display: flex;
    justify-content: center;
    gap: 0 20px;
    margin: 2rem 0rem;
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px 0px;
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        background: #CCC;
        transform: scale(0.8);
        &:hover {
            color: red;
        }
        h4 {
            font-size: 12px;
        }
    }
    svg {
        color: #FFF;
        font-size: 1.5rem;
    }
    .active {
        background: linear-gradient(to right, #f27121, #e94057);

        svg {
            color: #FFF;
        }
        h4 {
            color: #FFF;
        }
    }
}